@import './Header.variables';

.root {
  padding-left: $default-padding;
  padding-right: $default-padding;
  background-color: $headerBgColor;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.contentCenterContainer {
  display: flex;
  flex-basis: 700px;
  margin: 0px 25px;
}

.contentRightContainer {
  display: flex;
}

.centering {
  align-items: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.shrinkDiv {
  width: 1000px;
  margin: 0 auto;
}

.userIconContainer {
  position: relative;
}

.userBadgeStatusContainer {
  position: absolute;
  top: 24px;
  left: 24px;
}
